<!DOCTYPE html>
<html>
    <head>
        <meta name="ivewport" content="width=content-width" />
        <title>Amazon Bookstore</title>
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="bg-dark text-white p-2">
            <span class="navbar-brand ml-2">Amazon Bookstore</span>
        </div>
        <div class="m-1 P-1">
            @RenderBody()
        </div>
    </body>
</html>